.category-container{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.category-container .categorys{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

.categorys .category-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}