.pizza-container{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.pizza-container .pizza-content{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.pizza-size-paste{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.pizza-size-paste .require{
    color: #CE2829;
}

.pizza-size-paste h4{
    padding-bottom: 1rem;
    font-family: 'Quattrocento', serif;
}

.size {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #5F5F5F;
}

.pizza-paste{
    padding-right: 3rem;
}

/* pizza-material-checkboxs */

.pizza-extra-material h3{
    padding: 1rem 0;
}

.pizza-extra-material p{
    padding-bottom: 1.5rem;
}

.pizza-material-checkboxs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.pizza-material-checkboxs .pizza-material {
    width: 33%;
    height: 35px;
}

.pizza-material label{
    padding-left: .6rem;
}

/* pizza-order-note */

.pizza-order-note h3{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pizza-order-note input{
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 1rem .5rem;
    border: #D9D9D9 1px solid;
    border-radius: .3rem;
}

hr{
    margin: 3rem 0;
    border: #D9D9D9 .1rem solid;
}

/* pizza-order */

*{
    /* border: red .1rem solid; */
}

.pizza-order{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.pizza-order-quantity {
    flex-grow: 1;
    
    /* padding-left: 2rem; */
    display: flex;
}

.pizza-order-quantity button{
    background-color: #FDC913;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
}

.pizza-order-quantity p{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: .8rem;
    width: 50px;
    height: 50px;
    border: 0;
}

.pizza-price-result{
    flex-grow: 1;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: #292929;
    border: #D9D9D9 1px solid;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 7rem;
}

.pizza-price-result h3{
    padding: 2rem 1rem 0 1rem;
}

.pizza-price-result .price-descriptions{
    padding: .5rem 1rem;
}

.price-descriptions .description{
    display: flex;
    justify-content: space-between;
    color: #5F5F5F;
}

.price-descriptions .result{
    color: #CE2829;
}

.pizza-order-button{
    border: 0;
    background-color: #FDC913;
    height: 60px;
}