body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* border: #00ff00 1px solid; */
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* Fonts
  ince
  font-family: 'Barlow', sans-serif;
  elyazısı
  font-family: 'Satisfy', cursive;
  guclu
  font-family: 'Quattrocento', serif;
*/
/* Sarı #FDC913
  Açık Gri: #5F5F5F
  Koyu Gri #292929
  Kırmızı #CE2829   
  Bej: #FAF7F2      beyaz yerine
  */



/* Home */
.home-container{
  color:#5F5F5F;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* background-color: rgba(255, 0, 0, 0.892); */
  font-family: 'Barlow', sans-serif;
  color: white;
  background-image: url("./Assets/mvp-banner.png");
  background-position: center;
}

.home-container h1{
  font-size: 2rem;
  margin: 3rem 0 ;
  font-family: 'Satisfy', cursive;
}

.home-container h2{
  font-size: 2.4rem;
}

.home-container button{
  font-weight: bold;
  border: 0;
  cursor: pointer;
  background-color: #FDC913;
  padding: .5rem 2rem;
  border-radius: 2rem;
  margin: 3rem 0;
}

